{% extends 'layouts/main.html' %}
{% load static %}
{% block body_block %}
    <div class="row">
        <div class="col-xs-12">
            <a href="/dietapp/meals/">
                <img class="img-responsive diet-hero" src="{% static 'img/vegetarian.jpg' %}"/>
                <div class="img-overlay-label font-large">
                    <span class="text">Vegetarian</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="/dietapp/meals/">
                <img class="img-responsive diet-hero" src="{% static 'img/high_protein.jpg' %}"/>
                <div class="img-overlay-label font-large">
                    <span class="text">Protein High</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="/dietapp/meals/">
                <img class="img-responsive diet-hero" src="{% static 'img/gluten_free.jpg' %}"/>
                <div class="img-overlay-label font-large">
                    <span class="text">Gluten Free</span>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
{% block css_block %}
    <link href="{% static 'css/diets_v2.css' %}" rel="stylesheet">
{% endblock %}