{% extends 'layouts/main.html' %}
{% load static %}
{% block body_block %}
    <div class='row recipe dinner'>
        <div class='col-xs-12'>
            <div class="row pad-top-20">
                <div class="col-xs-4 pad-left-25">
                    <img class="img-circle recipe-img" src="{{ images }}">
                </div>
                <div class="col-xs-8 pad-left-30">
                    <div class="recipe-name">
                        <h4>{{ name }}</h4>
                    </div>
                    <div class="recipe-labels">
                        {% for att in attributes %}
                                <span class="label label-warning">{{ att }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row pad-top-20">
                <div class="col-xs-4 pad-left-25">
                    <div class="rating text-center">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="btn-group btn-group-xs pull-right">
                        <a class="btn btn-primary" href="#">
                            <span class="fui-time"></span>
                            <span class="time-value">{{ time }}</span>
                        </a>
                        <a class="btn btn-primary" href="#"><span class="fui-check"></span></a>
                        <a class="btn btn-primary" href="#"><span class="fui-heart"></span></a>
{#                        <a class="btn btn-primary" href="#"><span class="fui-eye"></span></a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Ingredients</h4>
            <ul>
                {% for ingr in ingredients %}
                    <li>{{ ingr }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Flavours</h4>
            {% for flav,value in flavors.items %}

                {{ flav }} : {{ value }}

                <div class="row">
                    <div class="col-xs-8">
                        <div class="progress-label">
                            {{ flav }}
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width: {{ value}}%;"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Nutrition Facts</h4>
            {% for el in nutrition %}
                <div class="row">
                    <div class="col-xs-6">{{ el.description }}</div>
                    <div class="col-xs-3">{{ el.value }} {{ el.unit }}</div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
{% block css_block %}
    <link href="{% static 'css/recipe.css' %}" rel="stylesheet">
{% endblock %}