<ul class="timeline">
    <li>
        <div class="timeline-badge success"><i class="glyphicon glyphicon-ok"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Associate Consultant @PWC</h4>

                <p>
                    <medium class="text-muted"><i class="glyphicon glyphicon-time"></i> Feb 2014 – Now</medium>
                </p>
            </div>
            <div class="timeline-body">
                <p>Internship at PWC. </p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge info"><i class="glyphicon glyphicon-globe"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Stanton School of English - London </h4>

                <p>
                    <medium class="text-muted"><i class="glyphicon glyphicon-time"></i> Jun 2013 - Sep 2013
                    </medium>
                </p>
            </div>
            <div class="timeline-body">
                <p> English prociency Level C1</p>

                <p>Bla Bla Bla Bla Bla Bla Bla Bla </p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-book"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Master Degree</h4>

                <p>
                    <medium class="text-muted"><i class="glyphicon glyphicon-time"></i> Sep 2012 - Jul 2014
                    </medium>
                </p>
            </div>
            <div class="timeline-body">
                <p>Economic studies and accounting, University of Bologna - Italy</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Summer Intern @CNA</h4>

                <p>
                    <medium class="text-muted"><i class="glyphicon glyphicon-time"></i> Sep 2012 - Jul 2014
                    </medium>
                </p>
            </div>
            <div class="timeline-body">
                <p>CNA Servizi (Accounting services for SMEs) </p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge success"><i class="glyphicon glyphicon-book"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Bsc Economy</h4>

                <p>
                    <medium class="text-muted"><i class="glyphicon glyphicon-time"></i> Sep 2009 - Jul 2012
                    </medium>
                </p>
            </div>
            <div class="timeline-body">
                <p>Economic studies and accounting, University of Bologna - Italy</p>
            </div>
        </div>
    </li>

</ul>


<h4>MY SKILLS</h4>

Consolidation
<div class="progress">
    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0"
         aria-valuemax="100" style="width: 80%;">
        <span class="sr-only">50% Complete</span>
    </div>
</div>
Financial Reporting
<div class="progress">
    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0"
         aria-valuemax="100" style="width: 70%;">
        <span class="sr-only">50% Complete</span>
    </div>
</div>

Enterprise Software
<div class="progress">
    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0"
         aria-valuemax="100" style="width: 80%;">
        <span class="sr-only">60% Complete</span>
    </div>
</div>

Business Analysis
<div class="progress">
    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0"
         aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">60% Complete</span>
    </div>
</div>

SME
<div class="progress">
    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0"
         aria-valuemax="100" style="width: 50%;">
        <span class="sr-only">50% Complete</span>
    </div>
</div>

Accounting
<div class="progress">
    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0"
         aria-valuemax="100" style="width: 75%;">
        <span class="sr-only">50% Complete</span>
    </div>
</div>
Auditing
<div class="progress">
    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0"
         aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">50% Complete</span>
    </div>
</div>
Business Intelligence
<div class="progress">
    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0"
         aria-valuemax="100" style="width: 50%;">
        <span class="sr-only">50% Complete</span>
    </div>
</div>

<h4>Reccomendations</h4>

<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Professor <cite title="Department of Economics - Unibo">, Department of Economics - Unibo</cite></footer>
</blockquote>
<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Mr. <cite title="PWC Italia">, PWC Italia</cite></footer>
</blockquote>
<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Mrs. <cite title="CNA Servizi">, CNA Servizi</cite></footer>
</blockquote>