{% extends 'layouts/main.html' %}
{% load static %}

{% block body_block %}

    <div class='row'>
        <div class='col-xs-12'>
            <div id="carousel-breakfast" class="carousel slide breakfast" data-ride="carousel"
                 data-meal-type="breakfast" data-diet="{{ diet }}" data-flag="{{ flag }}">
                <div class="carousel-inner">
                    <div class="item active meals-hero breakfast-hero">
                        <div class="row pad-top-20">
                            <div class="col-xs-12 item-info">
                                <div class="col-xs-offset-2 meals-hero-text font-large">Breakfast</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="rating">
                                    <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                                    <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                                    <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                                    <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                                    <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <!--<div class="btn-group btn-group-xs pull-right">-->
                                <!--<a class="btn btn-primary" href="#"><span class="fui-time"></span></a>-->
                                <!--<a class="btn btn-primary" href="#"><span class="fui-check"></span></a>-->
                                <!--<a class="btn btn-primary" href="#"><span class="fui-heart"></span></a>-->
                                <!--<a class="btn btn-primary" href="#"><span class="fui-eye"></span></a>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#carousel-breakfast" class="left carousel-control font-medium">
                    <span class="glyphicon glyphicon-chevron-left border-circle"></span>
                </a>
                <a data-slide="next" href="#carousel-breakfast" class="right carousel-control font-medium">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            <div id="carousel-lunch" class="carousel slide lunch" data-ride="carousel" data-meal-type="lunch"
                 data-diet="{{ diet }}" data-flag="{{ flag }}">
                <div class="carousel-inner">
                    <div class="item active meals-hero lunch-hero">
                        <div class="row pad-top-20">
                            <div class="col-xs-12 item-info">
                                <div class="col-xs-offset-2 meals-hero-text font-large">Lunch</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#carousel-lunch" class="left carousel-control font-medium">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
                <a data-slide="next" href="#carousel-lunch" class="right carousel-control font-medium">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            <div id="carousel-snack" class="carousel slide snack" data-ride="carousel" data-meal-type="snack"
                 data-diet="{{ diet }}" data-flag="{{ flag }}">
                <div class="carousel-inner">
                    <div class="item active meals-hero snack-hero">
                        <div class="row pad-top-20">
                            <div class="col-xs-12 item-info">
                                <div class="col-xs-offset-2 meals-hero-text font-large">Snack</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#carousel-snack" class="left carousel-control font-medium">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
                <a data-slide="next" href="#carousel-snack" class="right carousel-control font-medium">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            <div id="carousel-dinner" class="carousel slide dinner" data-ride="carousel" data-meal-type="dinner"
                 data-diet="{{ diet }}" data-flag="{{ flag }}">
                <div class="carousel-inner">
                    <div class="item active meals-hero dinner-hero">
                        <div class="row pad-top-20">
                            <div class="col-xs-12 item-info">
                                <div class="col-xs-offset-2 meals-hero-text font-large">Dinner</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#carousel-dinner" class="left carousel-control font-medium">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
                <a data-slide="next" href="#carousel-dinner" class="right carousel-control font-medium">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script src="{% static 'js/recipes.js' %}"></script>
{% endblock %}

{% block css_block %}
    <link href="{% static 'css/recipes.css' %}" rel="stylesheet">
{% endblock %}