{% extends 'layouts/main.html' %}
{% load static %}
{% block body_block %}
    {% for diet in diets %}
        <div class="row">
            <a href=" {% url 'meals' %}?diet={{ diet.diet_name }}">
                <div class="col-xs-12 diet-hero">
                    {#                <img class="img-responsive diet-hero" src="{% static 'img/vegetarian.jpg' %}"/>#}
                    <div class=" font-large">
                        <span class="text">{{ diet.diet_title }}</span>
                    </div>
                    <div>{{ diet.diet_description }}</div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block js_block %}
{% endblock %}

{% block css_block %}
    <link href="{% static 'css/diets.css' %}" rel="stylesheet">
{% endblock %}