.body-container {
    padding-top: 55px;
}
.navbar-inverse {
    background-color: #C0392B;
}
.img-overlay-label {
    position: absolute;
    bottom: 20px;
    left: 0px;
    padding: 3px 25px;
    /*opacity: 0.8;opacity*/
    background-color: #C0392B;
}
.img-overlay-label .text {
    color: #FFF;
    opacity: 1;
}